@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Open+Sans:wght@400;500;700;800&display=swap');
*,
*::after,
*::before {
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.logo {
  width: 12rem;
  height: auto;
  margin-left: 4rem;
}
.top-bar {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  display: flex;
  margin-left: auto;
  margin-right: 4rem;
}
header {
  background: linear-gradient(rgba(62, 147, 150, 0.5), rgba(31, 92, 150, 0.5)),
    url(img/arif-riyanto-vJP-wZ6hGBg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
}
.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 114rem;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text-box h1 {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 150%;
  word-spacing: 2px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 1rem;
}
.btn,
.btn:visited,
.btn:link {
  font-family: 'Ubuntu';
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  border: 2px solid;
  font-weight: 400;
  transition: 0.4s;
}
.btn-cyan,
.btn-cyan:visited,
.btn-cyan:link {
  background-color: rgb(67, 176, 226);
  color: white;
  border-radius: 0.6rem;

  border-color: rgb(67, 176, 226);
}

.btn-ghost,
.btn-ghost:visited,
.btn-ghost:link {
  color: white;
  border-radius: 0.6rem;
  border-color: #ffffff;
}

.btn-hero:hover,
.btn-hero:active {
  background-color: rgb(8, 132, 189);
  border-color: rgb(8, 132, 189);
  transform: translateY(2px);
}
.btn-square,
.btn-square:visited,
.btn-square:link {
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 0.8rem 2.5rem;
  color: #e0f6ff;
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    transparent 20%,
    skyblue 20%
  );
  background-size: 500%;
}
.btn-square:hover,
.btn-square:active {
  background-position: 30%;
  color: white;
}

/* Registration form */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #00000067;
  transition: all 0.5s;
}

.form-container {
  background-color: steelblue;
  padding: 2rem 4rem;
  border-radius: 4px;
  color: white;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.form-cntrl {
  position: relative;
  margin: 2rem 0;
  width: 30rem;
}

.form-container .form-cntrl input {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px white;
  display: block;
  padding: 15px 0;
  width: 100%;
  font-size: 2rem;
  color: #fff;
  outline: hidden;
}

.form-cntrl input:focus,
.form-cntrl input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-container a {
  text-decoration: none;
  color: skyblue;
}

.form-container p {
  margin-top: 3rem;
}

.form-btn {
  background-color: skyblue;
  color: #fff;
  display: inline-block;
  padding: 15px;
  width: 100%;
  border: 0;
  text-align: center;
  border-radius: 5px;
  font-size: 1.8rem;
}

.form-btn:active {
  transform: scale(0.98);
}

.form-btn:focus {
  outline: 0;
}

.form-cntrl label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-cntrl label span {
  display: inline-block;
  font-size: 2rem;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-cntrl input:focus + label span,
.form-cntrl input:valid + label span {
  color: lightblue;
  transform: translateY(-3rem);
}
.clear {
  display: none;
}
@keyframes clearmodal {
}
/* Features section */

.feature img {
  width: 30%;
  height: auto;
}
#feature-img--3 {
  width: 50%;
}
.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 114rem;
  margin: 10rem auto;
}
.feature-text {
  width: 50%;
  font-family: 'Ubuntu';
}
.feature-text--primary {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: #014b79;
}
.feature-text--secondary {
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem;
  line-height: 1.75;
  font-weight: 300;
  margin-top: 2rem;
  color: #001d2f;
}
.feature-text--secondary p {
  margin-top: 3px;
  font-weight: 400;
}
.cta .btn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
.cta .btn:hover {
  transform: translateY(2px);
}
/* Steps section */
#steps {
  margin: 5rem auto 20rem;
  text-align: center;
}
.sub-heading {
  color: #0884bd;
  margin-bottom: 8rem;
  font-weight: 500;
  font-size: 5rem;
}

#testimonials {
  margin: 10rem 0;
}

#testimonial {
  max-width: 114rem;
  margin: 0 auto;
  background-color: rgba(238, 238, 238, 0.322);
}
.testimonial-slide {
  text-align: center;
  padding: 5rem 15rem;
}
.testimonial-slide h1 {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.carousel-item img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.btn-prev {
  width: 5rem;
}
/*footer*/
footer {
  background-color: #001d2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 4rem 20rem;
}
.footer-text {
  width: 40%;
  font-size: 1.6rem;
  transform: translateY(3rem);
}
.footer-text .logo {
  margin-bottom: 1rem;
}
.footer-links {
  width: 50%;
  display: flex;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 2rem;
}
.footer-links a:hover {
  color: #0884bd;
}

.line {
  background-color: #eee;
  height: 3rem;
  width: 2px;
  margin-left: 2rem;
}
